<!doctype html>
<html lang="en">
  <head>
    <style>
      body {
        background-color: #ffffff;
        font-family: arial, sans-serif;
        margin: 2rem;
        padding: 2rem;
      }
      table {
        border-collapse: separate;
        border-spacing: 20px 0;
      }
      td {
        padding: 5px 0;
      }
    </style>
  </head>
  <body>
    <header>
      <span>{PREVIEW}</span>
    </header>
    <main>
      <section>
        <p>Hi {USER},</p>
        <p>{INTRODUCTION}</p>
        <p>{CONTENT}</p>
        <p>{CONCLUSION}</p>
      </section>
      <section>
        {OPTIONAL}
      </section>
      <section>
        <br />
        <p>Sincerely,</p>
        <p>Team Hubbub</p>
      </section>
    </main>
    <footer>
      <span>69 Charlton St., c/o Hubbub, New York, NY 10014</span>
      <br/> Continue shopping at <a href="https://www.hubbub.shop/inventory">Hubbub Shop</a>.
    </footer>
  </body>
</html>
